In [1]:
from pyspark import SparkContext

In [2]:
sc = SparkContext(master='local', appName="TransformacionesYAcciones")

In [3]:
rdd1 = sc.parallelize([1,2,3])
type(rdd1)

pyspark.rdd.RDD

In [4]:
# Para visualizar usamos funcion collect()
rdd1.collect()

[1, 2, 3]

In [5]:
sc

In [6]:
pwd

'/home/rb/Platzi/Escuela de Data Science/22.- Curso Introductorio de Spark'

In [7]:
!ls ./files/

deporte.csv	 deportistaError.csv  modelo_relacional.jpg
deportista.csv	 evento.csv	      paises.csv
deportista2.csv  juegos.csv	      resultados.csv

In [8]:
path = '/home/rb/Platzi/Escuela de Data Science/22.- Curso Introductorio de Spark/files/'

equiposOlimpicosRDD = sc.textFile(path+'paises.csv') \
    .map(lambda line: line.split(","))

In [9]:
# muestra la data con  take(n), evita usar collect() 
equiposOlimpicosRDD.take(15)

[['id', 'equipo', 'sigla'],
 ['1', '30. Februar', 'AUT'],
 ['2', 'A North American Team', 'MEX'],
 ['3', 'Acipactli', 'MEX'],
 ['4', 'Acturus', 'ARG'],
 ['5', 'Afghanistan', 'AFG'],
 ['6', 'Akatonbo', 'IRL'],
 ['7', 'Alain IV', 'SUI'],
 ['8', 'Albania', 'ALB'],
 ['9', 'Alcaid', 'POR'],
 ['10', 'Alcyon-6', 'FRA'],
 ['11', 'Alcyon-7', 'FRA'],
 ['12', 'Aldebaran', 'ITA'],
 ['13', 'Aldebaran II', 'ITA'],
 ['14', 'Aletta', 'IRL']]

### Acciones de modificacion sobre RDDs

In [10]:
# Contar cuantas Siglas tenemos
equiposOlimpicosRDD.map(lambda x: (x[2])).distinct().count()

231

In [11]:
# Agrupacion a partir de siglas y obtener cantidad de equipos por pais
equiposOlimpicosRDD \
    .map(lambda x: (x[2], x[1]))\
    .groupByKey() \
    .mapValues(len).take(5)

[('sigla', 1), ('AUT', 11), ('MEX', 9), ('ARG', 18), ('AFG', 1)]

In [12]:
# Agrupacion a partir de siglas y obtener cantidad de equipos por pais
equiposOlimpicosRDD \
    .map(lambda x: (x[2], x[1])) \
    .groupByKey() \
    .mapValues(list).take(3)

[('sigla', ['equipo']),
 ('AUT',
  ['30. Februar',
   'Austria',
   'Austria-1',
   'Austria-2',
   'Breslau',
   'Brigantia',
   'Donar III',
   'Evita VI',
   'May-Be 1960',
   '"R.-V. Germania; Leitmeritz"',
   'Surprise']),
 ('MEX',
  ['A North American Team',
   'Acipactli',
   'Chamukina',
   'Mexico',
   'Mexico-1',
   'Mexico-2',
   'Nausikaa 4',
   'Tlaloc',
   'Xolotl'])]

In [13]:
# Obtener los datos solo de un pais o contenido con filter()
equiposArgentinos = equiposOlimpicosRDD.filter(lambda l: "ARG" in l)
equiposArgentinos.collect()

[['4', 'Acturus', 'ARG'],
 ['37', 'Antares', 'ARG'],
 ['42', 'Arcturus', 'ARG'],
 ['43', 'Ardilla', 'ARG'],
 ['45', 'Argentina', 'ARG'],
 ['46', 'Argentina-1', 'ARG'],
 ['47', 'Argentina-2', 'ARG'],
 ['119', 'Blue Red', 'ARG'],
 ['238', 'Covunco III', 'ARG'],
 ['252', 'Cupidon III', 'ARG'],
 ['288', 'Djinn', 'ARG'],
 ['436', 'Gullvinge', 'ARG'],
 ['644', 'Matrero II', 'ARG'],
 ['672', 'Mizar', 'ARG'],
 ['774', 'Pampero', 'ARG'],
 ['843', 'Rampage', 'ARG'],
 ['1031', 'Tango', 'ARG'],
 ['1162', 'Wiking', 'ARG']]

**Por que no usar collect()**, si tuviéramos un servidor y su cluster correspondiente collect() hace que maquina server **driver** pida a todos cluster **ejecutores** que envíen la información que estaba distribuida respecto a esa consulta y la centralicen en el driver, imagina que tienes 10 millones de registros, pero tu computadora quizá solo soporte 1000, o peor aun sobrecargues la red, y consumas recursos criticos en produccion. **NUNCA USES COLLECT()** a menos de que los datos sepas de antemano que son pocos y nunca en produccion, mejor toma muestras con **take()**

In [14]:
# cuenta todos los valores, nada recomentable para datos extensos
equiposOlimpicosRDD.count()

1185

In [15]:
# CountApprox(n) toma un valor en milisegundos y devuelve los valores contados si termina,
# si el tiempo fue insuficiente la ejecucion termina y devuelve la cuenta hasta la terminacion.
equiposOlimpicosRDD.countApprox(20)

1185

### Acciones de conteo sobre RDDs

In [16]:
# Visualizamos los csv disponibles
!ls ./files/

deporte.csv	 deportistaError.csv  modelo_relacional.jpg
deportista.csv	 evento.csv	      paises.csv
deportista2.csv  juegos.csv	      resultados.csv

In [17]:
# importamos ambos
deportistaOlimpicoRDD = sc.textFile(path+'deportista.csv') \
    .map(lambda line: line.split(","))

deportistaOlimpicoRDD2 = sc.textFile(path+'deportista2.csv') \
    .map(lambda line: line.split(","))

deportistaOlimpicoRDD = deportistaOlimpicoRDD.union(deportistaOlimpicoRDD2)

In [18]:
# Unimos los RDD con union(). Spark solo tiene esta operacion
deportistaOlimpicoRDD = deportistaOlimpicoRDD.union(deportistaOlimpicoRDD2)

Como realizamos una operacion tipo modelo de caja negra es buena practica usar un **count()** para determinar la calidad de los datos que poseen los archivos, esto fuerza a utilizar todo el contenido del RDD.

Si los archivos vienen sanos o tienen la calidad minima para que spark pueda utilizarlos esta operacion se realizara sin ningun problema.

In [19]:
deportistaOlimpicoRDD.count()

135572

In [20]:
# ver contenido en equipos olimpicos
equiposOlimpicosRDD.top(2)

[['id', 'equipo', 'sigla'], ['999', 'Stella-2', 'NOR']]

In [21]:
deportistaOlimpicoRDD.top(2)

[['deportista_id', 'nombre', 'genero', 'edad', 'altura', 'peso', 'equipo_id'],
 ['99999', 'Alexander Grant Alick Rennie', '1', '32', '182', '71', '967']]

revisamos el modelo relacional

<img src="files/modelo_relacional.jpg">

In [22]:
# Seleccionamos las columnas ID para hacer un join
deportistaOlimpicoRDD \
    .map(lambda deportista: [deportista[-1], deportista[:-1]]) \
    .join(equiposOlimpicosRDD.map(lambda equipo: [equipo[0], equipo[2]]))\
    .take(6)

[('199', (['1', 'A Dijiang', '1', '24', '180', '80'], 'CHN')),
 ('199', (['2', 'A Lamusi', '1', '23', '170', '60'], 'CHN')),
 ('199', (['602', 'Abudoureheman', '1', '22', '182', '75'], 'CHN')),
 ('199', (['1463', 'Ai Linuer', '1', '25', '160', '62'], 'CHN')),
 ('199', (['1464', 'Ai Yanhan', '2', '14', '168', '54'], 'CHN')),
 ('199', (['3605', 'An Weijiang', '1', '22', '178', '72'], 'CHN'))]

In [23]:
# Utilisando takeSample( repetidos, muestra, semilla)
deportistaOlimpicoRDD \
    .map(lambda deportista: [deportista[-1], deportista[:-1]]) \
    .join(equiposOlimpicosRDD.map(lambda equipo: [equipo[0], equipo[2]]))\
    .takeSample(False, 6, 25)

[('362', (['131505', 'Steven Woodburn', '1', '24', '185', '90'], 'FRA')),
 ('967', (['13626', 'Jill Brresen', '2', '22', '170', '57'], 'RSA')),
 ('482', (['44299', 'Gumundur Gumundsson', '1', '23', '174', '77'], 'ISL')),
 ('970', (['68062', 'Lee MinHui', '2', '28', '174', '65'], 'KOR')),
 ('794', (['92442', 'Luis Paz Zoldan', '1', '19', '187', '82'], 'PER')),
 ('413', (['26822', 'Jared Mark Deacon', '1', '24', '185', '77'], 'GBR'))]

In [24]:
resultado = sc.textFile(path+'resultados.csv') \
    .map(lambda line: line.split(","))

In [25]:
resultadoGanador = resultado.filter(lambda w: 'NA' not in w[1])

In [26]:
resultadoGanador.take(2)

[['resultado_id', 'medalla', 'deportista_id', 'juego_id', 'evento_id'],
 ['4', 'Gold', '4', '2', '4']]

**Reto**: hacer un join con equipos y deportista para obtener valores importantes

In [27]:
# Approach 1: En el supuesto de un deportista solo tiene una medalla
deportistaOlimpicoRDD \
    .map(lambda deportista: [deportista[-1], deportista[:-1]]) \
    .join(equiposOlimpicosRDD.map(lambda equipo: [equipo[0], equipo[2]]))\
    .join(resultadoGanador.map(lambda resultado: [resultado[2], resultado[1]])) \
    .takeSample(False, 6, 25)

[('507',
  ((['18909', 'Enrico Castelli', '1', '27', '0', '0'], 'ITA'), 'Silver')),
 ('705',
  ((['99600', 'John Philip Ernest Marie Flip Regout', '1', '21', '0', '0'],
    'NED'),
   'Silver')),
 ('399',
  ((['15937', 'Magdalena Brzeska Peschel Sabolocka ', '2', '18', '173', '48'],
    'GER'),
   'Silver')),
 ('705',
  ((['13408',
     'Anna Johanna Geertruida Maria Annie Borckink',
     '2',
     '24',
     '0',
     '0'],
    'NED'),
   'Bronze')),
 ('705',
  ((['48310', 'Johannes Hendricus Heuckelbach', '1', '27', '0', '0'], 'NED'),
   'Gold')),
 ('619',
  ((['59062', 'Noraseela Mohd Khalid', '2', '32', '166', '55'], 'MAS'),
   'Gold'))]

### Solucion al reto por el profesor

In [28]:
deportistaPaises = deportistaOlimpicoRDD \
    .map(lambda l: [l[-1], l[:-1]]) \
    .join(equiposOlimpicosRDD.map(lambda x: [x[0], x[2]]))

In [29]:
deportistaPaises.join(resultadoGanador).take(6)

[('74',
  ((['65', 'Patimat Abakarova', '2', '21', '165', '49'], 'AZE'), 'Gold')),
 ('74', ((['129', 'Ruslan Abbasov', '1', '22', '181', '74'], 'AZE'), 'Gold')),
 ('74', ((['130', 'Tural Abbasov', '1', '18', '182', '76'], 'AZE'), 'Gold')),
 ('74', ((['131', 'Tran Abbasova', '2', '33', '159', '53'], 'AZE'), 'Gold')),
 ('74',
  ((['335', 'Abdulqdir Abdullayev', '1', '28', '188', '91'], 'AZE'), 'Gold')),
 ('74',
  ((['336', 'Arif Yadulla Abdullayev', '1', '27', '164', '60'], 'AZE'),
   'Gold'))]

### Operaciones Numéricas

In [30]:
# el valor de puntaje de paises a lo largo del tiempo
valoresMedallas = {'Gold': 7,
                   'Silver': 5,
                   'Bronze': 4}

In [31]:
paisesMedallas = deportistaPaises.join(resultadoGanador)

In [32]:
paisesMedallas = paisesMedallas \
    .map(lambda x: (x[1][0][-1], valoresMedallas[x[1][1] ] ) )

In [33]:
paisesMedallas.take(5)

[('AZE', 7), ('AZE', 7), ('AZE', 7), ('AZE', 7), ('AZE', 7)]

In [34]:
from operator import add

conclusion = paisesMedallas.reduceByKey((add)) \
    .sortBy(lambda x:x[1], ascending=False)

In [35]:
conclusion.take(10)

[('CAN', 32538),
 ('ARG', 12520),
 ('HUN', 10860),
 ('MEX', 6124),
 ('RSA', 3788),
 ('BLR', 3580),
 ('LTU', 1535),
 ('MGL', 1460),
 ('USA', 1342),
 ('AZE', 1218)]

## MI INTERPRETACION

In [36]:
resultado.take(10)
# utilizar deportista_id y medalla

[['resultado_id', 'medalla', 'deportista_id', 'juego_id', 'evento_id'],
 ['1', 'NA', '1', '39', '1'],
 ['2', 'NA', '2', '49', '2'],
 ['3', 'NA', '3', '7', '3'],
 ['4', 'Gold', '4', '2', '4'],
 ['5', 'NA', '5', '36', '5'],
 ['6', 'NA', '5', '36', '6'],
 ['7', 'NA', '5', '38', '5'],
 ['8', 'NA', '5', '38', '6'],
 ['9', 'NA', '5', '40', '5']]

In [37]:
deportistaOlimpicoRDD.take(10)
#utilizar deportista_id y equipo_id

[['deportista_id', 'nombre', 'genero', 'edad', 'altura', 'peso', 'equipo_id'],
 ['1', 'A Dijiang', '1', '24', '180', '80', '199'],
 ['2', 'A Lamusi', '1', '23', '170', '60', '199'],
 ['3', 'Gunnar Nielsen Aaby', '1', '24', '0', '0', '273'],
 ['4', 'Edgar Lindenau Aabye', '1', '34', '0', '0', '278'],
 ['5', 'Christine Jacoba Aaftink', '2', '21', '185', '82', '705'],
 ['6', 'Per Knut Aaland', '1', '31', '188', '75', '1096'],
 ['7', 'John Aalberg', '1', '31', '183', '72', '1096'],
 ['8', 'Cornelia Cor Aalten Strannood ', '2', '18', '168', '0', '705'],
 ['9', 'Antti Sami Aalto', '1', '26', '186', '96', '350']]

In [73]:
equiposOlimpicosRDD \
.sortBy(lambda x: x[0])\
.take(10)

[['1', '30. Februar', 'AUT'],
 ['10', 'Alcyon-6', 'FRA'],
 ['100', 'Belgium-4', 'BEL'],
 ['1000', 'Struten', 'NOR'],
 ['1001', 'Studenternes Roklub-2', 'NOR'],
 ['1002', 'Subbnboana', 'GER'],
 ['1003', 'Sudan', 'SUD'],
 ['1004', 'Sunrise', 'NED'],
 ['1005', 'Sunshine', 'SWE'],
 ['1006', 'Suriname', 'SUR']]

In [39]:
# el valor de puntaje de paises a lo largo del tiempo
valoresMedallas = {'Gold': 7,
                   'Silver': 5,
                   'Bronze': 4}

In [97]:
def deportistaMedallas(resultadoGanador, valoresMedallas):
    """Obtiene la cantidad de Puntos por medallas de los depostistas Olimpicos"""
    #Obtengo el header del RDD
    headerMedallas = resultadoGanador \
            .map(lambda x: (x[2], valoresMedallas.get(x[1], 'Medallas')))\
            .filter(lambda x: x[1] == 'Medallas')
    
    # Obtengo y proceso la data numerica del RDD
    deportistaData = resultadoGanador \
        .map(lambda x: (x[2], valoresMedallas.get(x[1], 'Medallas')))\
        .filter(lambda x: x[1] != 'Medallas') \
        .map(lambda x: [int(x[0]), int(x[1])])\
        .foldByKey(1, add) \
        .sortBy(lambda x: x[0])
    
    
    deportistaMedallas = headerMedallas + deportistaData
  
    return deportistaMedallas

deportistaMedallas = deportistaMedallas(resultadoGanador, valoresMedallas)
deportistaMedallas.collect()

[('deportista_id', 'Medallas'),
 (4, 8),
 (15, 9),
 (16, 5),
 (17, 30),
 (20, 47),
 (21, 8),
 (25, 6),
 (29, 5),
 (30, 6),
 (37, 5),
 (38, 6),
 (40, 12),
 (42, 8),
 (56, 8),
 (62, 5),
 (63, 5),
 (65, 5),
 (67, 6),
 (72, 8),
 (73, 20),
 (76, 8),
 (80, 8),
 (84, 6),
 (85, 8),
 (86, 5),
 (90, 6),
 (93, 8),
 (99, 6),
 (100, 5),
 (103, 5),
 (106, 22),
 (107, 20),
 (108, 20),
 (139, 5),
 (143, 5),
 (145, 5),
 (150, 8),
 (153, 6),
 (165, 6),
 (250, 5),
 (259, 5),
 (297, 8),
 (298, 6),
 (316, 8),
 (337, 8),
 (339, 13),
 (351, 8),
 (357, 6),
 (359, 8),
 (367, 8),
 (379, 5),
 (385, 6),
 (391, 6),
 (392, 8),
 (394, 6),
 (395, 5),
 (399, 6),
 (401, 8),
 (404, 15),
 (411, 8),
 (416, 10),
 (423, 8),
 (424, 5),
 (428, 6),
 (443, 8),
 (454, 8),
 (455, 24),
 (460, 10),
 (465, 5),
 (495, 6),
 (507, 17),
 (509, 5),
 (514, 6),
 (519, 13),
 (521, 8),
 (527, 5),
 (529, 6),
 (543, 5),
 (547, 6),
 (548, 5),
 (576, 5),
 (580, 5),
 (582, 8),
 (583, 15),
 (608, 8),
 (610, 5),
 (618, 5),
 (619, 8),
 (627, 5),
 (629, 8),
 (634, 5),
 (639, 6),
 (646, 5),
 (654, 6),
 (669, 5),
 (670, 6),
 (673, 5),
 (674, 5),
 (680, 5),
 (690, 10),
 (697, 8),
 (698, 8),
 (699, 8),
 (702, 16),
 (705, 24),
 (706, 6),
 (716, 8),
 (723, 5),
 (727, 5),
 (745, 5),
 (762, 8),
 (766, 6),
 (772, 8),
 (775, 5),
 (777, 8),
 (785, 6),
 (807, 10),
 (813, 6),
 (818, 8),
 (830, 11),
 (832, 15),
 (836, 13),
 (837, 5),
 (840, 5),
 (846, 20),
 (849, 8),
 (850, 8),
 (851, 6),
 (882, 5),
 (884, 5),
 (896, 6),
 (908, 6),
 (918, 11),
 (923, 6),
 (925, 8),
 (953, 12),
 (956, 6),
 (957, 5),
 (962, 8),
 (963, 8),
 (964, 6),
 (966, 6),
 (967, 6),
 (968, 5),
 (973, 5),
 (974, 8),
 (975, 5),
 (977, 20),
 (980, 23),
 (1000, 5),
 (1017, 49),
 (1020, 10),
 (1023, 5),
 (1025, 6),
 (1046, 6),
 (1071, 6),
 (1085, 5),
 (1088, 6),
 (1094, 5),
 (1095, 5),
 (1104, 6),
 (1107, 5),
 (1109, 12),
 (1114, 10),
 (1122, 8),
 (1131, 6),
 (1144, 5),
 (1147, 14),
 (1169, 15),
 (1173, 20),
 (1181, 22),
 (1188, 6),
 (1191, 8),
 (1192, 22),
 (1201, 5),
 (1208, 8),
 (1211, 8),
 (1220, 8),
 (1221, 8),
 (1249, 5),
 (1254, 5),
 (1262, 6),
 (1270, 5),
 (1301, 6),
 (1313, 6),
 (1322, 6),
 (1323, 8),
 (1333, 5),
 (1336, 5),
 (1340, 5),
 (1341, 6),
 (1342, 5),
 (1346, 6),
 (1348, 6),
 (1350, 8),
 (1356, 9),
 (1359, 6),
 (1364, 5),
 (1374, 8),
 (1378, 8),
 (1379, 5),
 (1380, 20),
 (1386, 5),
 (1389, 8),
 (1391, 8),
 (1400, 8),
 (1402, 5),
 (1408, 8),
 (1409, 8),
 (1412, 13),
 (1414, 5),
 (1424, 5),
 (1435, 11),
 (1442, 6),
 (1443, 8),
 (1444, 8),
 (1447, 6),
 (1449, 6),
 (1466, 10),
 (1467, 14),
 (1469, 6),
 (1478, 6),
 (1480, 6),
 (1481, 5),
 (1483, 25),
 (1485, 5),
 (1487, 5),
 (1489, 5),
 (1498, 34),
 (1500, 8),
 (1503, 8),
 (1512, 5),
 (1530, 6),
 (1531, 6),
 (1534, 17),
 (1538, 8),
 (1540, 8),
 (1546, 5),
 (1551, 5),
 (1554, 20),
 (1556, 6),
 (1561, 5),
 (1564, 8),
 (1569, 14),
 (1574, 10),
 (1579, 8),
 (1581, 5),
 (1595, 10),
 (1601, 6),
 (1618, 13),
 (1619, 8),
 (1622, 8),
 (1634, 8),
 (1637, 8),
 (1639, 25),
 (1647, 5),
 (1649, 8),
 (1650, 6),
 (1652, 6),
 (1654, 5),
 (1659, 5),
 (1662, 8),
 (1665, 8),
 (1673, 8),
 (1676, 8),
 (1678, 8),
 (1682, 8),
 (1683, 10),
 (1698, 10),
 (1700, 5),
 (1713, 6),
 (1716, 5),
 (1730, 5),
 (1732, 5),
 (1734, 12),
 (1740, 5),
 (1742, 5),
 (1758, 6),
 (1762, 5),
 (1809, 5),
 (1858, 16),
 (1885, 5),
 (1889, 5),
 (1949, 8),
 (2025, 8),
 (2112, 5),
 (2134, 5),
 (2170, 6),
 (2210, 8),
 (2212, 6),
 (2225, 6),
 (2233, 13),
 (2256, 6),
 (2274, 5),
 (2275, 8),
 (2295, 5),
 (2296, 27),
 (2302, 5),
 (2306, 5),
 (2307, 6),
 (2311, 5),
 (2313, 6),
 (2316, 8),
 (2317, 10),
 (2322, 5),
 (2342, 5),
 (2347, 8),
 (2349, 5),
 (2355, 5),
 (2359, 8),
 (2367, 12),
 (2378, 5),
 (2379, 5),
 (2381, 8),
 (2386, 13),
 (2387, 6),
 (2389, 5),
 (2419, 5),
 (2420, 13),
 (2434, 16),
 (2440, 8),
 (2443, 5),
 (2458, 6),
 (2460, 6),
 (2464, 13),
 (2469, 19),
 (2473, 8),
 (2483, 6),
 (2486, 19),
 (2487, 5),
 (2495, 13),
 (2497, 12),
 (2511, 15),
 (2513, 5),
 (2517, 12),
 (2546, 10),
 (2552, 5),
 (2553, 6),
 (2559, 6),
 (2570, 6),
 (2575, 6),
 (2576, 6),
 (2583, 5),
 (2589, 12),
 (2592, 10),
 (2597, 6),
 (2599, 6),
 (2607, 10),
 (2608, 5),
 (2610, 6),
 (2619, 5),
 (2629, 8),
 (2636, 8),
 (2638, 5),
 (2639, 13),
 (2643, 5),
 (2648, 9),
 (2649, 8),
 (2651, 6),
 (2694, 8),
 (2695, 6),
 (2699, 8),
 (2703, 8),
 (2715, 6),
 (2722, 6),
 (2723, 15),
 (2735, 12),
 (2737, 13),
 (2739, 5),
 (2750, 6),
 (2755, 12),
 (2756, 8),
 (2758, 13),
 (2760, 5),
 (2762, 8),
 (2769, 5),
 (2785, 20),
 (2786, 5),
 (2792, 5),
 (2794, 5),
 (2798, 5),
 (2799, 6),
 (2800, 10),
 (2829, 6),
 (2832, 8),
 (2833, 5),
 (2849, 8),
 (2850, 8),
 (2861, 6),
 (2863, 8),
 (2864, 22),
 (2869, 5),
 (2871, 5),
 (2874, 12),
 (2875, 14),
 (2877, 5),
 (2880, 8),
 (2882, 8),
 (2892, 5),
 (2894, 13),
 (2909, 6),
 (2915, 6),
 (2917, 8),
 (2929, 8),
 (2930, 8),
 (2942, 5),
 (2965, 5),
 (2987, 12),
 (2988, 6),
 (2989, 6),
 (2991, 5),
 (2996, 6),
 (2998, 9),
 (3006, 5),
 (3009, 6),
 (3011, 5),
 (3012, 8),
 (3017, 6),
 (3029, 5),
 (3052, 5),
 (3055, 6),
 (3069, 41),
 (3070, 15),
 (3071, 6),
 (3077, 12),
 (3080, 8),
 (3093, 5),
 (3099, 6),
 (3102, 5),
 (3108, 5),
 (3118, 12),
 (3147, 5),
 (3150, 6),
 (3165, 8),
 (3171, 5),
 (3174, 9),
 (3206, 10),
 (3214, 11),
 (3227, 6),
 (3231, 9),
 (3240, 6),
 (3245, 19),
 (3248, 8),
 (3249, 5),
 (3251, 5),
 (3257, 6),
 (3272, 5),
 (3277, 6),
 (3281, 39),
 (3285, 5),
 (3289, 8),
 (3295, 5),
 (3301, 5),
 (3308, 5),
 (3317, 5),
 (3319, 6),
 (3321, 12),
 (3322, 6),
 (3323, 5),
 (3324, 11),
 (3325, 5),
 (3329, 5),
 (3330, 13),
 (3331, 9),
 (3332, 8),
 (3335, 6),
 (3356, 8),
 (3361, 6),
 (3362, 6),
 (3363, 8),
 (3365, 5),
 (3379, 8),
 (3397, 5),
 (3398, 8),
 (3433, 6),
 (3453, 6),
 (3461, 5),
 (3466, 8),
 (3467, 8),
 (3472, 29),
 (3476, 5),
 (3477, 6),
 (3487, 8),
 (3491, 6),
 (3493, 12),
 (3494, 5),
 (3507, 5),
 (3512, 6),
 (3514, 8),
 (3516, 9),
 (3519, 5),
 (3522, 6),
 (3525, 8),
 (3536, 6),
 (3537, 5),
 (3544, 15),
 (3552, 5),
 (3554, 10),
 (3557, 12),
 (3559, 8),
 (3561, 5),
 (3563, 8),
 (3566, 6),
 (3567, 8),
 (3574, 5),
 (3581, 8),
 (3585, 5),
 (3589, 5),
 (3593, 13),
 (3595, 8),
 (3604, 51),
 (3608, 6),
 (3610, 14),
 (3611, 6),
 (3612, 5),
 (3615, 5),
 (3626, 8),
 (3632, 5),
 (3635, 6),
 (3643, 6),
 (3652, 13),
 (3659, 5),
 (3661, 6),
 (3662, 8),
 (3672, 8),
 (3673, 13),
 (3676, 6),
 (3681, 5),
 (3684, 8),
 (3686, 8),
 (3687, 5),
 (3690, 8),
 (3691, 5),
 (3692, 5),
 (3696, 5),
 (3701, 15),
 (3702, 6),
 (3703, 17),
 (3705, 8),
 (3706, 8),
 (3718, 6),
 (3720, 5),
 (3725, 13),
 (3734, 22),
 (3735, 5),
 (3749, 10),
 (3754, 6),
 (3756, 8),
 (3760, 8),
 (3761, 8),
 (3762, 6),
 (3765, 5),
 (3767, 5),
 (3768, 5),
 (3771, 6),
 (3773, 6),
 (3775, 5),
 (3782, 5),
 (3785, 8),
 (3788, 6),
 (3789, 5),
 (3790, 13),
 (3792, 8),
 (3793, 8),
 (3797, 5),
 (3799, 8),
 (3803, 6),
 (3805, 5),
 (3808, 6),
 (3815, 15),
 (3816, 5),
 (3820, 6),
 (3823, 8),
 (3824, 8),
 (3828, 8),
 (3831, 8),
 (3845, 5),
 (3847, 11),
 (3853, 5),
 (3854, 8),
 (3859, 5),
 (3862, 6),
 (3864, 8),
 (3865, 6),
 (3869, 6),
 (3870, 5),
 (3871, 6),
 (3872, 5),
 (3874, 5),
 (3880, 40),
 (3882, 5),
 (3883, 8),
 (3885, 6),
 (3887, 6),
 (3889, 5),
 (3890, 8),
 (3891, 8),
 (3897, 6),
 (3903, 6),
 (3912, 5),
 (3914, 5),
 (3918, 13),
 (3920, 10),
 (3925, 13),
 (3936, 6),
 (3939, 6),
 (3945, 5),
 (3951, 8),
 (3954, 16),
 (3959, 6),
 (3960, 6),
 (3964, 5),
 (3977, 5),
 (3978, 5),
 (3980, 14),
 (3981, 11),
 (3986, 5),
 (3989, 5),
 (3990, 8),
 (3993, 6),
 (3995, 5),
 (3996, 10),
 (3997, 5),
 (3998, 5),
 (4005, 8),
 (4007, 15),
 (4013, 5),
 (4014, 6),
 (4018, 6),
 (4021, 5),
 (4029, 8),
 (4030, 6),
 (4042, 15),
 (4055, 5),
 (4057, 6),
 (4059, 10),
 (4060, 5),
 (4071, 6),
 (4083, 5),
 (4085, 10),
 (4087, 6),
 (4094, 8),
 (4100, 12),
 (4101, 11),
 (4108, 8),
 (4109, 6),
 (4110, 5),
 (4111, 5),
 (4116, 6),
 (4121, 8),
 (4123, 6),
 (4124, 17),
 (4145, 10),
 (4153, 10),
 (4161, 6),
 (4163, 8),
 (4165, 15),
 (4166, 5),
 (4168, 10),
 (4173, 5),
 (4176, 5),
 (4179, 5),
 (4187, 8),
 (4189, 8),
 (4198, 87),
 (4201, 5),
 (4202, 15),
 (4207, 12),
 (4209, 5),
 (4211, 6),
 (4229, 5),
 (4236, 8),
 (4240, 6),
 (4242, 5),
 (4243, 6),
 (4256, 8),
 (4268, 5),
 (4284, 5),
 (4297, 6),
 (4304, 9),
 (4305, 6),
 (4320, 5),
 (4321, 26),
 (4322, 19),
 (4335, 8),
 (4340, 8),
 (4341, 8),
 (4348, 8),
 (4349, 5),
 (4356, 6),
 (4359, 5),
 (4369, 6),
 (4374, 5),
 (4375, 16),
 (4388, 9),
 (4390, 6),
 (4391, 10),
 (4392, 12),
 (4393, 10),
 (4400, 15),
 (4403, 8),
 (4404, 15),
 (4405, 6),
 (4410, 8),
 (4418, 15),
 (4423, 13),
 (4432, 5),
 (4435, 8),
 (4436, 6),
 (4447, 5),
 (4449, 6),
 (4450, 13),
 (4452, 5),
 (4457, 15),
 (4460, 18),
 (4462, 6),
 (4466, 8),
 (4471, 8),
 (4472, 29),
 (4478, 8),
 (4484, 8),
 (4487, 6),
 (4491, 5),
 (4503, 6),
 (4505, 26),
 (4508, 5),
 (4512, 5),
 (4515, 6),
 (4517, 6),
 (4518, 6),
 (4519, 6),
 (4531, 10),
 (4538, 5),
 (4561, 8),
 (4563, 10),
 (4564, 5),
 (4568, 6),
 (4569, 10),
 (4575, 6),
 (4577, 5),
 (4579, 6),
 (4581, 6),
 (4585, 5),
 (4587, 5),
 (4590, 11),
 (4591, 5),
 (4602, 8),
 (4604, 8),
 (4607, 15),
 (4613, 22),
 (4617, 5),
 (4626, 18),
 (4644, 5),
 (4651, 8),
 (4667, 12),
 (4674, 5),
 (4675, 8),
 (4676, 6),
 (4677, 9),
 (4685, 24),
 (4686, 11),
 (4688, 6),
 (4700, 5),
 (4701, 8),
 (4710, 6),
 (4717, 6),
 (4720, 6),
 (4724, 6),
 (4728, 8),
 (4736, 12),
 (4737, 6),
 (4742, 22),
 (4750, 8),
 (4757, 8),
 (4763, 5),
 (4766, 6),
 (4767, 6),
 (4771, 6),
 (4772, 6),
 (4779, 6),
 (4780, 6),
 (4782, 5),
 (4784, 5),
 (4785, 6),
 (4789, 12),
 (4799, 8),
 (4801, 5),
 (4808, 8),
 (4841, 6),
 (4842, 6),
 (4847, 11),
 (4858, 6),
 (4859, 5),
 (4860, 8),
 (4876, 24),
 (4891, 6),
 (4892, 6),
 (4893, 6),
 (4897, 6),
 (4909, 6),
 (4914, 6),
 (4919, 6),
 (4920, 8),
 (4921, 5),
 (4924, 6),
 (4925, 5),
 (4926, 8),
 (4928, 8),
 (4936, 13),
 (4951, 5),
 (4968, 12),
 (4977, 9),
 (4978, 8),
 (4993, 8),
 (5002, 5),
 (5018, 13),
 (5023, 5),
 (5027, 8),
 (5040, 5),
 (5058, 15),
 (5060, 8),
 (5069, 10),
 (5074, 6),
 (5077, 15),
 (5093, 8),
 (5102, 5),
 (5106, 6),
 (5117, 15),
 (5125, 8),
 (5128, 5),
 (5129, 15),
 (5130, 6),
 (5143, 10),
 (5144, 6),
 (5149, 8),
 (5150, 8),
 (5152, 13),
 (5153, 8),
 (5156, 8),
 (5158, 13),
 (5159, 5),
 (5160, 6),
 (5163, 8),
 (5165, 5),
 (5167, 22),
 (5173, 8),
 (5186, 6),
 (5187, 6),
 (5192, 8),
 (5196, 6),
 (5198, 15),
 (5202, 6),
 (5204, 6),
 (5206, 5),
 (5212, 8),
 (5214, 8),
 (5218, 5),
 (5219, 13),
 (5224, 5),
 (5232, 6),
 (5233, 5),
 (5242, 5),
 (5245, 5),
 (5256, 6),
 (5275, 6),
 (5286, 8),
 (5288, 6),
 (5290, 5),
 (5298, 5),
 (5304, 8),
 (5306, 5),
 (5307, 10),
 (5325, 5),
 (5327, 8),
 (5331, 8),
 (5342, 8),
 (5353, 16),
 (5355, 8),
 (5363, 5),
 (5366, 5),
 (5373, 5),
 (5377, 5),
 (5380, 8),
 (5388, 6),
 (5391, 5),
 (5396, 34),
 (5414, 6),
 (5426, 8),
 (5427, 13),
 (5430, 9),
 (5432, 8),
 (5436, 5),
 (5441, 5),
 (5446, 6),
 (5447, 5),
 (5451, 6),
 (5453, 8),
 (5456, 6),
 (5466, 12),
 (5467, 6),
 (5478, 5),
 (5482, 13),
 (5483, 8),
 (5488, 13),
 (5493, 5),
 (5496, 8),
 (5499, 5),
 (5500, 5),
 (5505, 6),
 (5520, 6),
 (5521, 10),
 (5526, 6),
 (5527, 5),
 (5532, 6),
 (5538, 5),
 (5540, 8),
 (5542, 5),
 (5547, 34),
 (5559, 8),
 (5561, 8),
 (5575, 5),
 (5577, 6),
 (5578, 8),
 (5579, 5),
 (5584, 5),
 (5588, 6),
 (5591, 5),
 (5611, 6),
 (5615, 8),
 (5618, 8),
 (5625, 5),
 (5630, 5),
 (5631, 6),
 (5632, 8),
 (5637, 8),
 (5643, 8),
 (5652, 6),
 (5655, 8),
 (5658, 8),
 (5664, 5),
 (5670, 8),
 (5671, 6),
 (5687, 5),
 (5692, 6),
 (5698, 6),
 (5700, 58),
 (5702, 10),
 (5703, 5),
 (5706, 5),
 (5710, 5),
 (5714, 6),
 (5716, 12),
 (5720, 8),
 (5724, 5),
 (5732, 5),
 (5741, 8),
 (5743, 5),
 (5746, 6),
 (5777, 8),
 (5778, 5),
 (5795, 5),
 (5805, 18),
 (5806, 8),
 (5810, 6),
 (5811, 8),
 (5815, 5),
 (5826, 6),
 (5831, 13),
 (5832, 6),
 (5834, 8),
 (5857, 6),
 (5864, 12),
 (5869, 8),
 (5871, 6),
 (5875, 5),
 (5882, 17),
 (5883, 8),
 (5908, 11),
 (5910, 6),
 (5918, 5),
 (5921, 5),
 (5924, 8),
 (5928, 6),
 (5930, 17),
 (5931, 6),
 (5932, 8),
 (5934, 17),
 (5935, 12),
 (5937, 16),
 (5949, 5),
 (5956, 6),
 (5957, 5),
 (5959, 8),
 (5964, 5),
 (5971, 22),
 (5977, 5),
 (5979, 6),
 (5980, 8),
 (5987, 5),
 ...]

In [151]:
def paisesEquipos(equiposOlimpicosRDD):
    """Obtiene el performance por Equipo"""
#     header = sc.parallelize([('Pais', 'equipo_id')])   
    
    paisesEquipos = equiposOlimpicosRDD \
                        .map(lambda x: [x[-1], x[0]]) \
                        .filter(lambda x: x[1] != 'id') \
                        .map(lambda x: [x[0], int(x[1])])\

    
    paisesEquipos =  paisesEquipos
    
    return paisesEquipos

paisesEquipos = paisesEquipos(equiposOlimpicosRDD)
paisesEquipos.take(10)

[['AUT', 1],
 ['MEX', 2],
 ['MEX', 3],
 ['ARG', 4],
 ['AFG', 5],
 ['IRL', 6],
 ['SUI', 7],
 ['ALB', 8],
 ['POR', 9],
 ['FRA', 10]]

In [152]:
def performanceEquipos(deportistaMedallas, deportistaOlimpicoRDD):
#     header = sc.parallelize([('deportista_id', 'equipo_id')])  
    
    equipos = deportistaOlimpicoRDD \
                .map(lambda x: [x[0], x[6]]) \
                .filter(lambda x: x[0] != 'deportista_id') \
                .map(lambda x: [int(x[0]), int(x[1])]) \

    
#     performance = equipos.join(deportistaMedallas)
#                     .join(deportistaOlimpicoRDD) \
#                     .map(lambda x: (x[1][1], x[0], x[1][0])) \

    performanceEquipos = equipos
    
    return performanceEquipos

performanceEquipos = performanceEquipos(deportistaMedallas, deportistaOlimpicoRDD)
performanceEquipos.take(10)

[[1, 199],
 [2, 199],
 [3, 273],
 [4, 278],
 [5, 705],
 [6, 1096],
 [7, 1096],
 [8, 705],
 [9, 350],
 [10, 350]]